@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes springy {
  0%{
    width: 100%;
    height: 100%;
  }
  50%{
    width: 125%;
    height: 125%;
  }
  100%{
    width: 100%;
    height: 100%;
  }
}
